<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Iframe Content</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Conversor de Horas</h1>
        <img src="static/imgs/c.png" alt="Logo">
        <label for="dropdown">Select a page:</label>
        <select id="dropdown">
            <option value="">--Select--</option>
            <option value="https://digitalcloud.training/category/aws-cheat-sheets/aws-solutions-architect-associate">Example 1</option>
            <option value="https://github.com/sv222/AWS-Solutions-Architect-Associate-Exam-2024">Wikipedia</option>
        </select>

        <button id="submitBtn">Submit</button>

        <div class="iframe-container">
            <iframe id="iframe" src="" width="800" height="600"></iframe>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
